<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type = "text/css" href="{% static '/css/style.css' %}">
    <title>Our site</title>
</head>
<body>
    <div class = "header text">
        <h1>Free Edit Project</h1>
    </div>
    <div class = "nav-bar text">
        <ul>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'submit' %}">Upload</a>
            </li>
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
        </ul>
    </div>



    {% block body%}
    {% endblock %}

    <footer>
            <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-1iyi8hayybg3d" 
            data-ad-width   = "320" 
            data-ad-height  = "50"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        <script src="https://ads-partners.coupang.com/g.js"></script>
<script>
	new PartnersCoupang.G({ id:227057 });
</script>
        <div class="text">
            Copyright © This site. All Rights Reserved.
        </div>
    </footer>
</body>
</html>