{% extends 'base.html' %}

{%block body %}
<script>
    window.onload = function(){
    var upload = document.getElementById('upload');
    var preview = document.getElementById('preview');
    var preview3 = document.getElementById('nothing');
    preview.appendChild(preview3);
    console.log(upload)
    console.log(preview)
    }
    
    function previewImage(){

        var upload2 = document.getElementById('upload').files[0];

        var image = document.createElement('img');

        /* FileReader 객체 생성 */
        var reader = new FileReader();

        /* reader 시작시 함수 구현 */
        reader.onload = (function (aImg) {
            console.log(1);

            return function (e) {
                console.log(3);
                /* base64 인코딩 된 스트링 데이터 */
                aImg.src = e.target.result
            }
        })(image)

        if(upload2){
            /* 
                get_file[0] 을 읽어서 read 행위가 종료되면 loadend 이벤트가 트리거 되고 
                onload 에 설정했던 return 으로 넘어간다.
                이와 함게 base64 인코딩 된 스트링 데이터가 result 속성에 담겨진다.
            */
            reader.readAsDataURL(upload2);
            console.log(2);
        }
        var preview2 = document.getElementById('preview');
        if(preview2 != preview)
        {
            console.log(preview2.childNodes[0]);
        }
        preview.removeChild(preview.firstChild);
        preview.appendChild(image);

    }
</script>
    
    

<br>
<div class = "main text">
        <form method="POST" enctype="multipart/form-data" action="{% url 'create' %} ">
            {% csrf_token %}
            <div class = "img_wrap">
                <div id="preview"></div>
                <div id="nothing"></div>
            </div>

            {{ form.as_p }}
            <label for="sub">Submit</label>
            <input id = "sub" type="submit" value="Submit">
            
        </form>
    
    </div>
<div class = "text">
            <h4>상업적 이용은 불가능합니다.</h4>
            <h4>처음부터 저작권침해되는 이미지를 첨부할경우에 오는 모든 책임은 본 사이트에 없음을 알려드립니다.</h4>
            <h4>출처를 밝히지 않을시 법적 책임 가능성이 있습니다.</h4>
            <h4>이미지를 포토샵 하는 서비스를 제공하는 사이트기 때문에 수정이 불가능할정도로 깨진 파일은 작업이 불가능합니다.(2차 수정 불가능)</h4>
            <h4>사진 편집 후 원본 수정파일은 따로 보내드리지 않습니다.</h4>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
</div>

{% endblock %}